* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

header {
	background-color: #F5A623;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

header h1 {
	margin: 0;
}

main {
	background-color: beige;
	padding: 2rem;
}

h1 {
	color: white;
}

.receta {
	background-color: white;
	color: #333;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	max-width: 800px;
	text-align: center;
	border-radius: 10px;
	padding: 10px;
}

.receta h1 {
	color: #F5A623;
}

.receta h2 {
	color: #F5A623;
	text-align: center;
}

.imagen {
	text-align: center;
	margin-bottom: 20px;
	max-width: 60%;
	border-radius: 10px;	
}

.caracteristicas .lista {
	list-style: square;
	padding-left: 20px;
	text-align: left;
}

.caracteristicas span {
	color: #F5A623;
}

.lista li {
	margin-bottom: 10px;
}

.ingredientes {
	margin-top: 0.5rem;
}

table {
	width: 100%;
	border-collapse: collapse;
}

.thead {
	background-color: #F5A623;
	color: white;
	padding: 0.75rem 1rem;
	font-weight: bold;
	text-align: center;
}

.tbody {
	padding: 0.65rem 1rem;
	border-bottom: 1px solid #EEE;
	text-align: center;
}

.par {
	background-color: #fafafa;
}

.ultima {
	border-bottom: none;
}

.elaboracion {
	line-height: 1.6;
	text-align: justify;
}

.pie {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 15px;
}