body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background: #F0F0F0;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #2C3E50;
}

.cabecera {
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
    padding: 1rem;
    margin: 0;
    text-align: center;
}

.cabecera h1 {
	margin: 0;
	text-align: center;
}

#contenido-principal {
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    max-width: 500px;
    justify-content: center;
    border-radius: 10px;
    padding: 2rem;
    margin: auto;
}

.imagen {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
}

.lista-integrantes {
	list-style: disc;
	padding-left: 20px;
}

.tabla-exitos {
    border: 1px solid #DDD;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin: auto;
}

.tabla-exitos th {
    background-color: #2C3E50;
    border: 1px solid #DDD;
    color: white;
    text-align: center;
	padding: 10px;
}

.tabla-exitos td {
    padding: 10px;
    border: 1px solid #DDD;
    text-align: left;
    white-space: nowrap;
}

.web {
	color: #E74C3C;
	text-decoration: none;
    font-weight: bold;
}

.web:hover {
	color: #C0392B;
}

.pie {
    color: #7F8C8D;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}