* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background: #d3c2df;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 40px;
}

.cabecera {
	color: aliceblue;
    padding: 1rem;
    background: #2C3E50;
	text-align: center;
}

#contenido-principal {
    padding: 1rem;
    flex-grow: 1; /* factor de crecimiento para empujar al footer */
}

.campo {
	padding: 5px;
	
}

.pie {
    color: rgb(187, 201, 223);
    font-size: 14px;
    background: #9c8eb8;
    padding: 1rem;
    text-align: center;
}