* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background: #d3c2df;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 40px;
}

.cabecera {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #2C3E50;
}

.logo {
    height: 100px;
    width: auto;
}

/* .titulo {
    margin: 0;
    color: #2C3E50;
} */

.menu {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.menu a:hover {
    color: #d3c2df;
    /* background: #9c8eb8; */
}

#contenido-principal {
    padding: 1rem;
    flex-grow: 1; /* factor de crecimiento para empujar al footer */
}

.tarjeta.tienda {
    width:min(1200px, 95%);
}



.pie {
    color: rgb(187, 201, 223);
    font-size: 14px;
    background: #9c8eb8;
    padding: 1rem;
    text-align: center;
}