* {
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.cabecera {
	text-align: center;
	padding: 1rem;
}

.cabecera img {
	width: 300px;
	height: 110px;
	margin: 0 auto;
}

main {
	padding: 2rem;
}

.tarjeta {
	background-color: #F4F1ED;
	color: firebrick;
}

fieldset {
	border-color: darkgoldenrod;
	border-radius: 7px;
	width: 450px;
}

legend {
	color: darkblue;
	font-weight: bold;
}

.elemento-formulario {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	gap: 10px;
	margin-bottom: 5px;
	padding: 5px;
}

.imagen {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.botones {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin-top: 50px;
}

footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 5px;
}

footer h3 {
	color: #F7C600;
}

.rrss img {
	width: 48px;
	height: 48px;
}


